<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
  </head>
  <body>
    <nav>
      <ul>
        <% if (user) { %>
        <li><%= user.username %></li>
        <li><a href="/auth/logout">Logout</a></li>
        <li><a href="/add">Add Coin</a></li>
        <%} else { %>
        <li><a href="/auth/login">Login</a></li>
        <% } %>
        <li><a href="/">Homepage</a></li>
        <li><a href="/user">Profile</a></li>
      </ul>
    </nav>
    <div class="container">
      <fieldset>
        <form action="/add" method="post">
          <input name="coin" type="text" class="ghost-input" placeholder="Enter coin ticker e.g BTC, ETH" id="coin" required>
          <input name="currency" type="text" class="ghost-input" placeholder="Enter preferred currency" id="currency" required>
          <input name="Amount" type="number" class="ghost-input" placeholder="How many..." id="amount" required>
          <input type="submit" class="ghost-button" value="Calculate">
        </form>
        <p id="price" ></p>
      </fieldset>
    </div>
    <script>
      $('form').on('submit', getCoin);
      function getCoin(e){
        e.preventDefault();
        var ticker = document.getElementById("coin").value;
        var amnt = document.getElementById("amount").value;
        $.ajax({
          url:'/add',
          data: {code: ticker, amount: amnt},
          type: 'POST',
          success: function(data){
            if(data.price){
              $('#price').html(data.price);
            }else{
              $('p').html('An error occured. EE');
            }
          },
          error: function(){
            $('p').html('Error ee: An error occured');
          }
        });
      }
    </script>
  </body>
</html>