<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="7eEawr-V5CNOg7JBHEHrVCbDPElQnOfmY8uwEtWDJyQ" />
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
  </head>
  <body>
    <%
      getPrice = function(ticker){
        var test = 101; %>
        <script>
          var getTest = <%= test %>;
          console.log(getTest);
        </script>
        <% var url = "https://min-api.cryptocompare.com/data/price?fsym=ETC&tsyms=USD";
        return 45;
      }
    %>
    <nav>
      <ul>
        <% if (user) { %>
        <li><%= user.username %></li>
        <li><a href="/auth/logout">Logout</a></li>
        <li><a href="/add">Add Coin</a></li>
        <%} else { %>
        <li><a href="/auth/login">Login</a></li>
        <% } %>
        <li><a href="/">Homepage</a></li>
        <li><a href="/user">Profile</a></li>
      </ul>
    </nav>
    <header>
      <h1>Cryptrack</h1>
    </header>
    <main>
      <p>Portfolio</p>
      <% if (user) { %>
        <% if (user.coins.length > 0) { %>
        <table>
          <tr>
            <th>Name</th>
            <th>Ticker</th>
            <th>Currency</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
          </tr>
          <% user.coins.forEach((coin) => { %>
            <tr>
              <td><%= coin.name %></td>
              <td><%= coin.ticker %></td>
              <td><%= coin.currency %></td>
              <td><%= coin.amount %></td>
              <td><%= getPrice(coin.ticker); %></td>
          </tr>
          <%}) %>
        </table>
        <% } else { %>
          <p>Portfolio is Empty. Click on the "Add" button above</p>
        <% } %>
      <% } %>
    </main>
  </body>
</html>