<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %> - Cryptrack</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
  </head>
  <body>
    <nav>
      <ul>
        <% if (user) { %>
        <li><a href="/auth/logout">Logout</a></li>
        <%} else { %>
        <li><a href="/auth/login">Login</a></li>
        <% } %>
        <li><a href="/">Homepage</a></li>
        <li><a href="/user">Profile</a></li>
      </ul>
    </nav>
    <header>
        <h1>Login Using...</h1>
    </header>
    <main>
        <a class="google-bt" href="/auth/google">Google+</a>
        <a class="facebook-bt" href="/auth/facebook">Facebook</a>
        <a class="twitter-bt" href="/auth/twitter">Twitter</a>
    </main>
  </body>
</html>