<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= user.username %> - Cryptrack</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
  </head>
  <body>
    <nav>
      <ul>
        <% if (user) { %>
        <li><%= user.username %></li>
        <li><a href="/auth/logout">Logout</a></li>
        <li><a href="/add">Add Coin</a></li>
        <%} else { %>
        <li><a href="/auth/login">Login</a></li>
        <% } %>
        <li><a href="/">Homepage</a></li>
        <li><a href="/user">Profile</a></li>
      </ul>
    </nav>
    <header>
        <h1>Welcome to your profile, <%= user.username %></h1>
    </header>
    <main>
        <img src="<%= user.imageUrl %>" />
        <p>This is your profile thumbnail </p>
    </main>
  </body>
</html>