body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  background: #353b48;
  color: white;
}
.container {
  width: 600px;
  margin: 0 auto;
}
fieldset {
  display: block;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0em;
  -webkit-padding-start: 0em;
  -webkit-padding-end: 0em;
  -webkit-padding-after: 0em;
  border: 0px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  min-width: -webkit-min-content;
  padding: 30px;
}
.ghost-input, p {
  display: block;
  font-weight:300;
  width: 100%;
  font-size: 25px;
  border:0px;
  outline: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #4b545f;
  background: #fff;
  font-family: Open Sans,Verdana;
  padding: 10px 15px;
  margin: 30px 0px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.ghost-input:focus {
  border-bottom:1px solid #ddd;
}
.ghost-button {
  background-color: white;
  border:2px solid #ddd;
  padding:10px 30px;
  width: 100%;
  min-width: 350px;
  color: #353b48;
  font: Open Sans, Verdana;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.ghost-button:hover {
  border:2px solid #515151;
}
p {
  color: #E64A19;
}

a#details {
  visibility: hidden;
}

nav{
  background: #ff5353;
  padding: 20px 10px;
}
nav ul{
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
}
nav li{
  list-style-type: none;
  display: inline-block;
  margin: 0 10px 0 0;
}
nav a{
  color: #fff;
  font-size: 18px;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
  padding: 10px;
  display: block;
}
main, header{
  max-width: 960px;
  margin: 30px auto;
  padding: 0 10px;
  color: #fff;
}

.google-bt{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  background: #ff5353;
}
.facebook-bt{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  background: #3B5998;
}
.twitter-bt{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  background: #1DA1F2;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background: white;
  color: black;
  font-family: 'Open Sans', sans-serif;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}